body{
    
    font-family: 'Baloo Bhaijaan 2', cursive;
   
}
.container{
   display: flex;
   padding: 50px;
  /* background-color:  yellow; */
}
.leftMenu{
  flex:1
}
.search{
    padding: 10px;
    width: 200px;
    border: 1px solid gray;
}
.search:focus{
   outline: none;
}


h1{
    font-size: 30px;
    color: rgb(37, 36, 36);
    font-weight: 300;
}
.cats{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.cat{
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
}
.content{
   flex: 4;
   /* border: 2px solid red; */
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.product{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    align-items: center;
}
img{
  width: 150px;
  height: 250px;
  object-fit: cover;
}
.name{
    font-weight: 300;
}
.priceRange{
    cursor: pointer;
}